body {
    background-color: #eeeeee;
}

* {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

::-webkit-scrollbar {
    display: none;
}

.paper {
    background-color: #FFFFFF;
    position: relative;
    top: 40px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: calc(100% - 20px);
    min-height: calc(100vh - 15px);
    box-shadow: 0 0 5px #cacaca;
    font-family: 'Spirax', cursive;
}

.dim {
    left: 0px;
    top: 30px;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0.9;
    background-color: white;
    z-index: 15;
    position: fixed;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.header {
    position: fixed;
    background-color: orange;
    width: 100%;
    height: 50px;
    top: 0px;
    left: 0px;
    box-shadow: 0 5px 5px -5px #333;
    font-family: 'Spirax', cursive;
    z-index: 20;
}

.header>i {
    width: 35px;
    height: 35px;
    margin-left: 5px;
    margin-top: 3px;
    padding: 2px;
    font-size: 2.7em;
    color: white;
    cursor: pointer;
}

.header>.logo {
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 2.0em;
    color: white;
    text-align: right;
    font-family: 'Arial', 'Verdana';
}

.header>i:hover {
    color: ghostwhite;
}

@media screen and (max-width: 729px) {
    .menu {
        position: fixed;
        width: 100%;
        height: 100%;
        left: -100%;
        top: 0px;
        background-color: pink;
        box-shadow: 0 0 5px #333;
        z-index: 30;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
    }
}

@media screen and (min-width: 730px) {
    .menu {
        position: fixed;
        width: 30%;
        height: 100%;
        left: -30%;
        top: 0px;
        background-color: pink;
        box-shadow: 0 0 5px #333;
        z-index: 30;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
    }
}

.show {
    transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
}

.menu>i {
    font-size: 3em;
    color: white;
    float: right;
    cursor: pointer;
}

.control {
    width: 80%;
    border: 2px solid white;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 6px;
    font-family: 'Spirax', cursive;
}

.modal {
    z-index: 16;
    position: fixed;
    display: none;
    top: 30vh;
    left: 30vw;
    max-width: 40vw;
    display: none;
    transition: opacity 3s ease-in-out;
    opacity: 0;
    background-color: white;
    box-shadow: 0 0 5px #cacaca;
    padding: 10px;
}

.showModal {
    opacity: 1;
    display: block;
}

button,
input {
    border: none;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 25px;
    border: 2px solid #4CAF50;
}

button:hover,
input[type=submit]:hover {
    background-color: #4CAF50;
    color: white;
}

.footer {
    position: absolute;
    background-color: cadetblue;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    line-height: 40px;
    clear: both;
    text-align: center;
    color: white;
    bottom: 0px;
}

.scrollContent {
    background-color: #f0f0f0;
    overflow-y: scroll;
    overflow-x: suto;
    font-size: 20px;
    color: black;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    max-height: 60%;
    max-width: 10%;
    display: block;
    box-shadow: 0 0 5px #cacaca;
}

.paperMenu>.comp {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    font-size: 1em;
    border: 2px solid white;
    cursor: pointer;
}

.paperMenu>.comp:hover {
    background-color: orange;
}

@media screen and (max-width: 1069px) {
    .paperMenu {
        margin: 0 auto;
        text-align: center;
        color: white;
        font-family: 'Arial';
    }
    .paperMenu>.comp {
        background-color: lightcoral;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 20px;
        display: inline-block;
        width: auto;
        height: auto;
        border-radius: 25px;
    }
}

@media screen and (min-width: 1070px) {
    .paperMenu {
        float: right;
        max-width: 10%;
        background-color: lightcoral;
        color: white;
        font-family: 'Arial';
    }
}